body, html {
           height: 90%;
             font-family: Arial, Helvetica, sans-serif;
          }

      *{
      	box-sizing: border-box;
      }
		.register{
            
            position: relative;
            background-image: url("LibraryBooks.jpg");
             min-height: 635px;
             background-position: center;
             background-repeat: no-repeat;
             background-size: cover
		}
		.white{
			top: 0px;
			position: absolute;
			height: auto; 
			left: 10px;
			border-radius: 12px;
			width: 450px;
			background-color: white;
			opacity: 0.6;
			padding: 10px 10px 10px 25px;
			
		}
		
		p{
			color: black;
			font-size: 20px;
		}

		.error{
			color: red;
			font-style: italic;
			font-size: 15px;
		}
		#name{
			padding: 5px 20px;
               
               width: 80%;
			border-radius: 3px;
			box-shadow: inset 1px 1px 5px rgba(100, 0, 0, 0.8);
		}
		#email{
			padding: 5px 20px;
               
               width: 80%;
			border-radius: 3px;
			box-shadow: inset 1px 1px 5px rgba(100, 0, 0, 0.8);
		}
		#mobile
		{
			padding: 5px 20px;
              
               width: 80%;
			border-radius: 3px;
			box-shadow: inset 1px 1px 5px rgba(100, 0, 0, 0.8);
		}
		#occupation{
			padding: 5px 20px;
			border-radius: 3px;
			box-shadow: inset 1px 1px 5px rgba(100, 0, 0, 0.8);
			
               width: 80%;
		}
		
		.p{
			padding: 5px 20px;
              
               width: 80%;
			border-radius: 3px;
			box-shadow: inset 1px 1px 5px rgba(100, 0, 0, 0.8);
		}
		.btn{
			
			color: black;
			font-size: 16px;
			width: 200px;
			padding: 5px;
			font-weight: 600;
			border-radius: 3px;
			
			cursor: pointer;
			background-color: rgba(250, 100, 0, 0.8);
               box-shadow:  1px 1px 5px rgba(0, 0, 0, 0.3);
		}
		.btn:hover{
			opacity: 0.7;
		}
		h2{
			top: 0px;
		}
	
	